header{
  text-align: center;
  background-color:black;
  background-size: auto;
  color:#71b43d;
  font-size: 30px;
}

.grise{
  background-color:#f7f7f7;
  background-image: url(http://codincamp.fr/static/img/about/chrono4.png);
  font-size: 30px;
  text-transform: uppercase;
}

li{
  font-size: 14 px;
  line-height: 1.75;
  list-style-type: none;
}

body{
font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
text-align: center;
background-image: url(http://www.gite-loubreyrou-cevennes.com/img/cevennes/cevennes-7.jpg);
}

h2{
font-size: 30px;
margin-top: 0;
margin-bottom: 15px;
text-transform: uppercase;
font-weight: 700;
}
